.user-name{
    font-size: 20px;
    color: blue;
}
.user-name:hover{
    color: red;
}
.user-name:active{
    color: green;
}
.user-button {
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 10px;
}